body {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	margin: 20px;
}

fieldset {
	border: none;
	width: 320px;
}

legend {
	font-size: 25px;
	margin: 0px;
	padding: 10px 0px;
	color: #7FB2F0;
	font-weight: bold;
	text-shadow: 1px 1px 1px #4F4F4F;
}

label {
	display: block;
	margin: 15px 0 5px;
}

input[type=text],input[type=password] {
	width: 300px;
	padding: 5px;
	border: solid 1px #000;
}

.prev,.next {
	background-color: #7FB2F0;
	padding: 5px 10px;
	color: #FFF;
	text-decoration: none;
}

.prev:hover,.next:hover {
	background-color: #4F4F4F;
	text-decoration: none;
}

.prev {
	float: left;
}

.next {
	float: right;
}

#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

#steps li {
	font-size: 24px;
	display: inline-block;
	padding: 10px;
	color: #b0b1b3;
}

#steps li span {
	font-size: 11px;
	display: block;
}

#steps li.current {
	color: #000;
}

#makeWizard {
	background-color: #b0232a;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 18px;
}

#makeWizard:hover {
	background-color: #000;
}

.required {
	color: #ff0000;
}

tr.d1 td {background: #FCFCFC;
          width:300px;
          height: 19px}
tr.d0 td {background: #F9F9F9;
		  width:300px;
		  height: 19px}


.addformcar {
	padding-left: 10%;
}

