html {font-size: 100%;}

body {
font-family: Tahoma,Helvetica,Arial,sans-serif !important;
font-size: 14px;
line-height: 20px;
}

a {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {
text-rendering: optimizelegibility;
}

td{
	text-align:center;
}

#message {
	border-radius: 5px;
	border: 2px solid #4F4F4F;
	box-shadow: 1px 1px 2px #333;
	margin-bottom: 15px;
}

#header {
	position: relative;
	top: 4px;	
	margin: 0 auto;
	margin-bottom: 10px;
	height: 120px;	
	background: #ffffff;
	margin-top: 10px;	
}

#content {
	-moz-box-shadow:inset 0px 1px 4px -19px #ffffff;
	-webkit-box-shadow:inset 0px 1px 4px -19px #ffffff;
	box-shadow:inset 0px 1px 4px -19px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D4DEEB), color-stop(1, #8A73C1) );
	background:-moz-linear-gradient( center top, #D4DEEB 5%, #8A73C1 100% );
	background-image: -ms-linear-gradient(top, #D4DEEB 0%, #8A73C1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4DEEB', endColorstr='#8A73C1');
	background-color:#ededed;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:1px solid #dcdcdc;	
	color:#FFFFFF;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 22px;
	text-decoration:none;	
}

#main {
	padding-top: 31px;
	width: 1053px;
	height:800px;
	margin: 0 auto;	
}

#forgetPassword {
	width: 1000px;
}

.langsel li {
	list-style-type: none;
}

.profiletable {
	margin-left: 8%;
	margin-top: 15px;
}

.findForm {
	width: 520px;	
	margin-top: 10px;
}

.mainsearch {
	height: 2140px !important;
}

.contentsearch {
	height: 1690px !important;
}

.footersearch {
	position: relative !important;
	margin-top: 10px !important;
}

.forgetPasswordBox{
    width:550px;
	height: 150px;
	padding: 4px 4px 0 4px;	
	font: 16px Tahoma, Helvetica, sans-serif;
	margin: 0 auto;
	align:middle;
}

.resetPasswordBox{
    width:560px;
	height: 150px;
	padding: 4px 4px 0 4px;	
	font: 14px Tahoma, Helvetica, sans-serif;
	margin: 0 auto;
	align:middle;
}

.springErrorBlock {
	color: #000;
	background-color: #ffEEEE;
	border: 2px solid #ff0000;
	padding: 1px;
	margin: 1px;
	width: 170px;
}

.springErrorBlock2 {
	color: #F50B0B;	
	padding: 1px;
	margin: 1px;
	width: 170px;
	font-size:12px;
}

.btn{
	-moz-box-shadow:inset 0px 1px 4px -19px #ffffff;
	-webkit-box-shadow:inset 0px 1px 4px -19px #ffffff;
	box-shadow:inset 0px 1px 4px -19px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: -ms-linear-gradient(bottom, #ededed 5%, #dfdfdf 50%);
	background-color:#ededed;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 22px;
	text-decoration:none;
	text-shadow:1px 0px 0px #ffffff;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-image: -ms-linear-gradient(bottom, #dfdfdf 5%, #ededed 50%);
	background-color:#dfdfdf;
}
.btn:active {
	position:relative;
	top:1px;
}

.fc{
	float: left;
    width: 24%;
    padding-left: 7px;    
}

.fc ul{
	   list-style-type: none; 
}

img{
	border: none;
}

.r0{
text-align:right;
}

.l0{
text-align:left;	
}

#footer {	
	position:relative;	
	height: 20%;
	width: 1053px;
	margin: 0 auto;
	bottom: 0;
	left: 0; 	
}

.cr{
position:absolute;
bottom:0;
padding-left:7px;
font-size:75%;
right: 0;}