ul {
 list-style-type: none; 
 width: 512px; 
 height: 900px; 
 margin: 0 auto;
}

li{
 margin: 2;
 border-radius: 10px;
 margin: 1em 0;
 }

.formul{
  height: 650px;
}

#login-box {
	width:383px;
	height: 352px;
	padding: 18px 56px 0 76px;
	color: #ebebeb;
	font: 16px Tahoma, Helvetica, sans-serif;
	margin: 5px;
}

#login-box-right {
	width:333px;
	height: 650px;
	padding: 18px 36px 8px 36px;
	color: #000000;
	font: 12px Tahoma, Helvetica, sans-serif;
	margin: 5px;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #FFF;
	font: bold 44px "Calibri", Arial;	
}

#login-box-right img {
	border:none;
}

#login-box-right h2 {
	padding:0;
	margin:0;
	color: #000000;
	font: bold 44px "Calibri", Arial;
}

.login-box-name {
	float: left;
	display:inline;
	width:140px;
	text-align: right;
	padding: 10px 5px 0 0;
	margin:0 0 2px 0;	
}

.login-box-field {
	float: left;
	display:inline;
	width:220px;
	margin:0;
	margin:0 0 7px 0;
}

.form-login  {
	width: 255px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#8BA2C9;
	font-size: 16px;
	color: #ebebeb;
}

.form-login-right {
	width: 215px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#00aa00;
	font-size: 14px;
	color: #000000;
}

.login-box-options  {
	clear:both;
	padding-left:110px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

.form-login {
	border-radius: 4px;
}

.loginbox {
	box-shadow: 3px 3px 2px #333333;
	border: 3px solid #4F4F4F;
}

.login-box-name, .login-box-options, .loginbox a {
	color: #FFF;
}

.langsel {
	border: 1px solid #666;
	padding: 5px;
	border-radius:3px;
	box-shadow: 1px 1px 2px #333;
	background-color: #F1F1F1;
}

.langsel a {
	color: #7FB2F0;
}

#content {
	border: none !important;
	box-shadow: none !important;
	
}

.refreshButton {
	-moz-box-shadow:inset 0px 1px 17px 3px #ffffff;
	-webkit-box-shadow:inset 0px 1px 17px 3px #ffffff;
	box-shadow:inset 0px 1px 17px 3px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: -ms-linear-gradient(bottom, #ededed 5%, #dfdfdf 50%);
	background-color:#ededed;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:14px 14px;
	text-decoration:none;
	text-shadow:0px 0px 8px #ffffff;
	vertical-align:bottom;
}
.refreshButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-image: -ms-linear-gradient(bottom, #dfdfdf 5%, #ededed 50%);
	background-color:#dfdfdf;
}
.refreshButton:active {
	position:relative;
	top:1px;
}

#captchax{
	 height:50px;
	 width:125px;
	vertical-align:bottom;
}

.loginRegButton {
	-moz-box-shadow:inset -45px -7px 0px -50px #bbdaf7;
	-webkit-box-shadow:inset -45px -7px 0px -50px #bbdaf7;
	box-shadow:inset -45px -7px 0px -50px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bbdaf7), color-stop(1, #546C85) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	background-image: -ms-linear-gradient(bottom, #3C4241 5%, #00A3EF 50%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4241', endColorstr='#00A3EF');
	background-color:#79bbff;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 51px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}.loginRegButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient(center top, #378de5 5%, #79bbff 100% );
	background-image: -ms-linear-gradient(bottom, #378de5 5%, #79bbff 90%);
;
	background-color:#378de5;
}.loginRegButton:active {
	position:relative;
	top:1px;
}

form ul{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:270px;
}

#formReg{
 width:270px;
}


.birthday{
  width: 270px;
  height:53px;
  margin:0 auto;
}

.birthday li{
  float:left;  
}

.sizex{
   width:50px;
   height:22px;
}

.sizex1{
   width:100px;
   height:22px;
}

form li span
{
	color:#444;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li span label
{
	clear:both;
	color:#FFF;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

label.description
{
	border:none;
	color:#FFF;
	display:block;
	width:250px;
	font-size:12px;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

label.description1
{
	border:none;
	color:#FFF;
	display:block;
	width:55px;
	font-size:12px;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
	padding:0.4em;
}

label.description2
{
	border:none;
	color:#FFF;
	display:block;
	width:90px;
	font-size:12px;
	font-weight:700;
	line-height:150%;
}

#login-box-right h2 {
	padding:0;
	margin:0;
	color: #FFF;
	font: bold 37px "Calibri", Arial;	
}

a{
	color:blue;
	outline:none;
	text-decoration:none;
}
a:hover{
	text-decoration: none;
}

img{
	border: none;
}
input{
	vertical-align: middle;
}
#wrapper {
	width: 1024px;	
	height: 1024px;
	margin: 0 auto;	
	left: 30px;	
	top: 30px;
}

#header {
	height: 120px;	
	background: #ffffff;
	margin-top: 10px;
}

#content {  
  height: 800px;
 
}

#footer {
	height: 100px;
	background: #BFF08E;
}


.backx {	
	-moz-box-shadow:inset 16px -26px 23px 0px #bbdaf7;
	-webkit-box-shadow:inset -45px -7px 0px -50px #bbdaf7;
	box-shadow:inset -45px -7px 0px -50px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bbdaf7), color-stop(1, #546C85) );
	background:-moz-linear-gradient( center top, #c1f1dd 5%, #378de5 100% );	
	background-image: -ms-linear-gradient(top, #D4EAFF 0%, #00A3EF 100%);	
	background-color:#79bbff;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:1px solid #84bbf3;
	/*display:inline-block;*/
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 51px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
