html { font-size: 100%;}

body {
font-family: Tahoma,Helvetica,Arial,sans-serif !important;
font-size: 14px;
line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
text-rendering: optimizelegibility;}

a {text-decoration: none;
   color:#0000FF;}
img {border:none}

.tsb{background: transparent}


#main {
	position:relative;
	width: 1024px;
	height: 2000px;	
	color: #000000;
	background-color: #EEEEEE;
	margin: 0 auto;
	padding: 0;
	box-shadow: 3px 3px 2px #333333;
	//border: 3px solid #4F4F4F;	
	//border-radius: 5px;
}

#header {
	//position: relative;
	top: 4px;
	background-color: #A1A4AD;
	height: 7.5%;
	width: 99%;
	margin: 0 auto;
	margin-bottom: 10px;
	background-image: -moz-linear-gradient(top, #00A3EF 20%, #A6E3D9 100%);
	background-image: -ms-linear-gradient(top, #00A3EF 20%, #A6E3D9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3EF', endColorstr='#A6E3D9');
	background-image: -webkit-linear-gradient(top left, #00A3EF 0%, #A6E3D9 100%);		
    left: 50%;	    	
	color:#ffffff;
	font-family:arial;
	padding:5px 5px;	
}

#search {
	background-color: #b7c4c8;
	height: 3%;
	width: 81%;
	height: 50px;
	margin: 0 auto;
	padding: 2px 0 2px 0;
}

#adSection {
	background-color: #EFEFEF;
	height: 7%;
	width: 95%;
	margin: 0 auto;
}

#message {
	background-color: #EFEFEE;
	height: 1%;
	width: 95%;
	margin: 0 auto;
	border-radius: 5px;
	//border: 2px solid #4F4F4F;
	//box-shadow: 1px 1px 2px #333;
	margin-bottom: 15px;	
}

#content {
	background-color: #EFEFEE;
	height: 77%;
	width: 95%;
	margin: 0 auto;
	border-radius: 5px;
	//border: 2px solid #4F4F4F;
	//box-shadow: 1px 1px 2px #333;
	
	
}

#footer {	
	position:absolute;
	background-color: #b7c4c8;
	height: 7%;
	width: 100%;
	margin: 0 auto;
	bottom: 0;
	left: 0;   
	border-top: 2px solid #4F4F4F;
background-image: -ms-linear-gradient(top, #A5A5A5 0%, #97C8C8 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A5A5A5', endColorstr='#97C8C8');
background-image: -moz-linear-gradient(top, #A5A5A5 0%, #97C8C8 100%);
background-image: -webkit-linear-gradient(top, #A5A5A5 0%, #97C8C8 100%);	
}

#left {
	float: left;
	width: 15%;
	background-color: #EFEFEE;
}

#left-85 {
	float: left;
	width: 85%;	
}

#left-75 {
	float: left;
	width: 75%;
	padding:10px;
}
	
#right {
	float: left;
	width: 15%;
	height:100%;
	margin-left: -15%;
	background: #dddddd;
}

.table1 {
/*background-color: #B0DCE2;*/
width: 435px;	
border-collapse: separate;
 border-spacing: 0;
 border-bottom-width:1px;
 border-bottom-style:solid;
 border-bottom-color:#DDD7CF;
 border-radius: 7px;
background-image: linear-gradient(to bottom left, #E1FFA6 0%, #00A3EF 91%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1FFA6', endColorstr='#00A3EF');
background-image: -moz-linear-gradient(top right, #A6C1FF 0%, #00A3EF 60%);
background-image: -webkit-linear-gradient(top right, #A6C1FF 0%, #00A3EF 60%);
}

.table0 {
background-color: #efefee;
width: 425px;	
border-collapse: separate;
  border-spacing: 0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#DDD7CF;  
}

.table3 {
background-color: #B0DCE2;
width: 485px;	
border-collapse: separate;
 border-spacing: 0;
 border-bottom-width:1px;
 border-bottom-style:solid;
 border-bottom-color:#DDD7CF;
 border-radius: 7px;
 font-size: 15px;
background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #9DC4C9 50%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#9DC4C9');
background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #9DC4C9 50%);
background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #9DC4C9 50%);
}

.table2 {
background-color: #efefee;
width: 485px;	
border-collapse: separate;
  border-spacing: 0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#DDDDDD;
  border-radius: 11px;  
  font-size: 13px;
  padding: 5px;
}

.table21 {
background-color: #C5C596;
width: 485px;	
border-collapse: separate;
border-spacing: 0;
border-bottom-width:1px;
border-bottom-style:solid;
border-bottom-color:#DDDDDD;
border-radius: 11px;  
font-size: 13px;
padding: 5px;
}

.sp{
position:absolute;
left:595px;
margin-top:-25px;
z-index:10;
height:65px;
width:65px;
}

.sp1{
position:absolute;
left:672px;
margin-top:-25px;
z-index:10;
height:65px;
width:65px;
}

.sp2{
position:absolute;
left:460px;
margin-top:-25px;
z-index:10;
height:65px;
width:65px;
}

.sp3{
position:absolute;
left:682px;
margin-top:-25px;
z-index:10;
height:65px;
width:65px;
}

.sz{
position:absolute;
left:585px;
margin-top:-85px;
z-index:10;
height:65px;
width:65px;
}


.sw{
position:absolute;
left:785px;
margin-top:-115px;
z-index:10;
height:95px;
width:95px;
}

.inputTextfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
    width:194px;
    height:10px;
}


.searchFirstPage{    
	background-image: -moz-linear-gradient(top, #00A3EF 20%, #A6E3D9 100%);
	background-image: -ms-linear-gradient(top, #00A3EF 20%, #A6E3D9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3EF', endColorstr='#A6E3D9');
	background-image: -webkit-linear-gradient(top left, #00A3EF 0%, #A6E3D9 100%);	
	background-color:#79bbff;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;    
    margin: 0 auto;
	margin-top: 15px;
    height: 500px;
	width: 500px;
    top: 10%;
    left: 50%;	
    border-radius:29px;	
	color:#ffffff;
	font-family:arial;
	padding:32px 76px;
	
}


.Btn{ 
    -moz-box-shadow:inset 0px 1px 16px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 16px 0px #ffffff;
	box-shadow:inset 0px 1px 16px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: -ms-linear-gradient(bottom, #ededed 5%, #dfdfdf 50%);
	background-color:#ededed;
	-moz-border-radius:37px;
	-webkit-border-radius:37px;
	border-radius:37px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;	
	width:410px;
}
.Btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );	
	background-image: -ms-linear-gradient(bottom, #dfdfdf 5%, #ededed 50%);
	background-color:#dfdfdf;
}
.Btn:active {
	position:relative;
	top:1px;
}

#listView{
	padding-left: 27px;
}

#listView td{
	text-align:center;
	white-space:nowrap;	
}

#carList{
	 margin: 0 auto;    
	 width: 500px;
}

.loginAndRegister{	
	float: right;
	 margin-bottom: 15px;
	 margin-left: 15px;
	}

tr.d1 td {
	      background: #FCFCFC;
          width:300px;
          height: 17px;
          font-size: 70%;
}
          
tr.d0 td {
	      background: #F9F9F9;
		  width:300px;
		  height: 17px;
		  font-size: 70%;
}

tr.d3 td {
	      background: #FCFCFC;
          width:350px;
          height: 19px;
          font-size: 83%;
          padding-left:15px;
}
          
tr.d4 td {
	      background: #F9F9F9;
		  width:350px;
		  height: 19px;
		  font-size: 83%;
		  padding-left:15px;
}

tr.d5 td {
	      background: #FCFCFC;
          width:200px;
          height: 17px;
          font-size: 70%;
          text-align: center;
}
          
tr.d6 td {
	      background: #F9F9F9;
		  width:200px;
		  height: 17px;
		  font-size: 70%;
		  text-align: center;
}

/**Paging CSS**/
div.paging li {
	color: #000;
	position: relative;	
	margin: 0 auto;
}

ul.simplePagerNav {	
	height:50px;
	width:610px;
}

ul.simplePagerNav li {
	display: block;
	float: left;
	padding: 7px;
	margin-bottom: 5px;
	font-family: Tahoma;
}

ul.simplePagerNav li a {
	color: #333;
	text-decoration: none;
}

li.currentPage {
	background: red;
	background: #B2DBFF;
}

ul.simplePagerNav li.currentPage a {
	color: #fff;
}

.firstPageLabel {
	font-weight: bold;
	color: #EEEEEE;
	padding: 2px 0 2px 2px;
}

.fx {
	font-weight: bold;
	padding: 2px 0 2px 2px;	
}

ul.paging  li.sticky {
	background-color: red !important;
	display: block !important
}

/***/
.required {
	color: #ff0000;
}

.leftElem{
	float:left;
	clear:left;
	width:150px;
	height:22px;
	font-size: 70%;	
}

.rightElem{
	float:left;
	width:150px;
	font-size: 70%;	
}

.updateOdd{
background: #FCFCFC;
}

.updateEven{
background: #F9F9F9;
}

.errorDiv {
    color: white;
    background-color: #F87431; 
    padding: 0 5;  
}
 
.show_hide {
    display:none;
}

/**btn dropdown**/



.dropdown 
{
color: #555;
margin: -5px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
background: #fff;
position: absolute;
top: 10px;
left: -20px;
z-index: 11;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a 
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account 
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 12;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: 11px 0 0 10px;
text-decoration: none;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}

/*Sidebar*/
#sidebar {
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
#sidebar li {
	border-top: 1px dotted #cecece;
	}
#sidebar li a {
	display: block;
	font-weight: bold;
	font-size: 1em;
	color: #666;
	border-right: 7px solid #cecece;
	text-decoration: none;
	padding: 7px 0 4px 20px;
	}
#sidebar li a:hover {
	color: #7FB2F0;
	border-right: 7px solid #7FB2F0;
	}
	
/*Spring err*/
.springError {
	color: red;
}
 
.springErrorBlock {
	color: #000;
	background-color: #ffEEEE;
	border: 2px solid #ff0000;
	padding: 1px;
	margin: 1px;
	width: 170px;
}

.springErrorBlock2 {
	color: #F50B0B;	
	padding: 1px;
	margin: 1px;
	width: 170px;
	font-size:12px;
}

.hide{
display: none;
}

.saveButton {
	-moz-box-shadow:inset 0px 1px 16px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 16px 0px #ffffff;
	box-shadow:inset 0px 1px 16px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );	
	background-image: -ms-linear-gradient(bottom, #ededed 5%, #dfdfdf 50%);
	background-color:#ededed;
	-moz-border-radius:37px;
	-webkit-border-radius:37px;
	border-radius:37px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.saveButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-image: -ms-linear-gradient(bottom, #dfdfdf 5%, #ededed 50%);
	background-color:#dfdfdf;
}
.saveButton:active {
	position:relative;
	top:1px;
}

.removePhoto {
	-moz-box-shadow:inset 0px 1px 16px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 16px 0px #ffffff;
	box-shadow:inset 0px 1px 16px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: -ms-linear-gradient(bottom, #ededed 5%, #dfdfdf 50%);
	background-color:#ededed;
	-moz-border-radius:37px;
	-webkit-border-radius:37px;
	border-radius:37px;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.removePhoto:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-image: -ms-linear-gradient(bottom, #dfdfdf 5%, #ededed 50%);
	background-color:#dfdfdf;
}
.removePhoto:active {
	position:relative;
	top:1px;
}

.searchButton {
	-moz-box-shadow:inset 0px 1px 4px -19px #ffffff;
	-webkit-box-shadow:inset 0px 1px 4px -19px #ffffff;
	box-shadow:inset 0px 1px 4px -19px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );	
	background-image: -ms-linear-gradient(bottom, #ededed 5%, #dfdfdf 50%);
	background-color:#ededed;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 22px;
	text-decoration:none;
	text-shadow:1px 0px 0px #ffffff;
}
.searchButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-image: -ms-linear-gradient(bottom, #dfdfdf 5%, #ededed 50%);
	background-color:#dfdfdf;
}
.searchButton:active {
	position:relative;
	top:1px;
}

.findForm {
	width: 520px;	
	margin-top: 10px;
}

.forgetPasswordBox{
    width:550px;
	height: 150px;
	padding: 4px 4px 0 4px;	
	font: 16px Tahoma, Helvetica, sans-serif;
	margin: 0 auto;
	align:middle;
}

.resetPasswordBox{
    width:560px;
	height: 150px;
	padding: 4px 4px 0 4px;	
	font: 14px Tahoma, Helvetica, sans-serif;
	margin: 0 auto;
	align:middle;
}

.imx{
vertical-align:middle;
height:18px;
width:18px;
}  

.tdr{
position:relative;
left:23px;
}

.fc{
	float: left;
    width: 24%;
    padding-left: 7px;    
}

.fc ul{
	   list-style-type: none; 
}

.fc ul a{
font-size: 11px;
}

.fc ul a:hover{
   color: #FFFFFF
}

.fy0{
width:73%;
margin-left:250px;
 }

.fy1{
width:65%;
margin-left:250px;
background-image: -moz-linear-gradient(top, #00A3EF 20%, #A6E3D9 100%);
	background-image: -ms-linear-gradient(top, #00A3EF 20%, #A6E3D9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3EF', endColorstr='#A6E3D9');
	background-image: -webkit-linear-gradient(top left, #00A3EF 0%, #A6E3D9 100%);	
	background-color:#79bbff;
	border-radius: 7px;
 }

.aaa:hover, .qqq:hover, .updCar:hover, .delCar:hover,.rms:hover{
	cursor: hand;
    cursor: pointer;
}

.cr{
position:absolute;
bottom:0;
color:white;
padding-right:7px;
font-size:75%;
right: 0}

.emp{ 
    -moz-box-shadow:inset 0px 1px 16px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 16px 0px #ffffff;
	box-shadow:inset 0px 1px 16px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C297DA), color-stop(1, #492009) );
	background:-moz-linear-gradient( center top, #C297DA 5%, #492009 100% );
	background-image: -ms-linear-gradient(bottom, #492009 5%, #C297DA 80%);
	background-color:#ededed;
	-moz-border-radius:37px;
	-webkit-border-radius:37px;
	border-radius:37px;
	border:1px #B3B3B3;
	display:inline-block;
	color:#EEECEC;
	font-family:sans-serif;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;	
} 